<nav class="bg-color-primary">
    <div class="header container d-flex jcsb align-center flex-column">
      <img class="logo-1" src="https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/logo-white.png?raw=true" alt="logo-white">
      <ul class="d-flex color-white aic">
        <li ><a class="navbar-link color-white" href="#">系列鏡框</a></li>
        <li ><a class="navbar-link color-white" href="#">門市據點</a></li>
        <li ><a class="navbar-link color-white" href="#">部落格</a></li>
        <li ><a class="navbar-link color-white" href="#">常見問題</a></li>
      </ul>
    </div>
  </nav>
