@import'./layout/css-reset';
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import'./pages/header';
@import'./pages/banner';
@import'./pages/slogan';
@import'./pages/frame';
@import'./pages/recommend';
@import'./pages/contact';
@import'./pages/footer';
@import'./pages/qa.scss';
@import'./pages/shop';
@import'./pages/series-frame'

