.contact{
   background-color: #fbf2f2;
   padding: 80px 0;
}
.contact-text{
    max-width: 636px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}

.input{
    width: 636px;
    padding: 6px 0 6px 12px;
    
}
.check-icon{
    width: 24px;
    height: 24px;
}
.check{
    display: flex;

}
.btn1{
    width: 416px;
    margin: 0 auto;
    padding: 16px 0;
    
}
