.italic{
    font-style: italic;
}
.mb-5{
    margin-bottom: 48px;
}
.classic-frame{
    text-align: center;
    justify-content:space-evenly
}
.text-center{
    text-align: center;
}

.frame-img1{
    max-width: 416px;
}
.color-secondary{
    color:#aa0601;
}
.joint-name-img{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true);

}
.bgc-white{
    background-color: #fff;
}
.px-1{
    padding: 8px 0;
}
