*{
  box-sizing: border-box;
}
body{
  color:#650300;
  line-height: 1.5;
  font-family: 'Bruno Ace SC', cursive;
  font-family: 'Noto Sans TC', sans-serif;
  a{
    text-decoration: none;
  }
}
img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;

}
.container{
  max-width: 1320px;
  margin:0 auto;
  padding:  0 12px;
}

/*字型樣式*/
h1{
  font-size: 64px;
  font-weight: 900;
}
h2{
  font-size: 48px;
  font-weight: 900;
}
h3{
  font-size: 36px;
}
h4{
  font-size: 24px;
  font-weight: 900;
}
.color-primary{
  color:#650300
}
.color-white{
  color:white;
}
/*排版設定*/
.d-flex{
  display: flex;
}
.jcsb{
  justify-content: space-between;
}
/*區塊*/
.header{
  padding: 12px;
}
.bg-color-primary{
  background-color: #AA0601;
}
.bg-color-secondary{
  background-color: #FBF2F2;

}
.content-px{
  padding: 80px 0;
  text-align: center;
}
.logo-1{
  width: 80px;
  
}
.navbar-link{
  padding:8px 32px;
  font-size: 20px;
}
.navbar-link:hover {
  opacity: 0.7;
}


@media(max-width:768px){
  
  .header{
    width: 100%;
    height: auto;
    padding: 0;
    .logo-1{
      margin:16px auto 16px 16px;
    }
    ul{
      width: 100%;
      flex-wrap: wrap;
      
      li{
        width: 50%;
        border: 1px solid #FFFFFF;
        text-align: center;
        padding-top: 12px;
        padding-bottom: 12px;
      }

    }
  }
  .flex-column{
      flex-direction: column;
  }
 
  .navbar-link{
    padding:12px 0;
    font-size: 16px;
    
  }

}