

.recommend-card{
    border: 1px solid #DEE2E6;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 2px 6px #00000029;
    margin-right: 24px;
}
.recommend-text{
    padding: 16px;
}

.date{
    font-size: 14px;
    color:#707070;
}
.mr-3{
    margin-right: 24px;
}
@media (max-width:992px) {
    .recommend-sec{
        justify-content: space-between;
        flex-wrap: wrap;
        
    }
    .recommend-card{
        width: 45%;
        margin: 0 auto;
        margin-bottom: 24px;
    }
    
}

@media (max-width:786px){
    .recommend-card{
        width: 100%;
        
    }
}

