.banner{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header.png?raw=true);
    height: 787px;
    
}
.background-img{
    background-repeat: no-repeat; 
    background-position: center;
    background-size: cover;
}
.title-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    

}
.d-col{
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.jcc{
    justify-content: center;
}
.align-end{
    align-items: flex-end;
}
.jce{
    justify-content: flex-end;

}

.btn{
    background-color: #aa0601;
    padding: 6px 12px;
    display: block;
}
.self-start{
    align-self: flex-start;
}
.ml-auto{
    margin-left: auto;
}
.jcfe{
    justify-content: flex-end;
    
}
@media (max-width:992px) {
    .banner{
    background-image:url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/home-header-sm.png?raw=true);
    }
}

@media (max-width:786px) {
    


}