.w-48{
    width: 48%;
}
.w-s-100{
    @media (max-width:786px) {
       width: 100%; 
    }
}
.blog-tag-list{
    background-color: #650300;

    
    li{
        padding-top: 13px;
        padding-bottom: 13px;
    }
    a{
        font-size: 20px;
        margin-right: 48px;
        color:white;
        font-weight: bold;
        @media (max-width:992px) {
            font-size: 20px;
            
        }
        @media (max-width:786px) {
            font-size: 16px;
            margin-right: 16px;
            
        }

        
    }
    .search-icon{
        color: white;
        font-size: 29px;
        @media (max-width:786px) {
            display: none;
        }
        
        
    }
}



.blog {
    width: 90%;
    align-content: center;
    h1{
    font-size: 48px;
    font-weight: bold;
    }
    .blog-list{
        margin-bottom: 60px;
    }
}
@media (max-width:992px) {
    .blog{
    padding:40px 36px;
    width: 100%;
    }

    .blog-list{
        margin-bottom: 60px;
    }
    
}
@media (max-width:768px) {
    .blog {
        padding-left: 0;
        padding-right: 0;
        width: 90%;
        h1{
            font-size: 24px;
        }
        
    }
    .blog-list{
        flex-direction: column;
        margin-bottom: 24px;

    }
    .blog-text-list{
        p,a{
            display: none;
        }
    }
   
}
.blog-text-list{
    flex-direction: column;
}
.blog-text-list {
    h2{  
    font-size: 32px;
    color: #650300;
    @media (max-width:992px) {
        font-size: 24px;
    }
    }
}
.blog-info {
    h3{
    color:#000000;
    font-size: 20px;
    @media (max-width:992px) {
        font-size: 16px; 
        }  
    }
    h4{
        font-size: 16px;
        
    }
}

.article{
    color: #555555;
    font-size: 20px;
    
}
@media (max-width:992px) {
    .article{ 
    font-size: 16px;
    }

} 

.MORE-btn{
    color: #650300;
    font-size: 36px;
    font-weight: 900;
    align-self: flex-end;
    margin-top: auto;
    @media (max-width:992px){
        display: none;
    }
    
}
.more-btn{
    display: none;
    color:#555555;
    font-size: 16px;
    
    @media (max-width:992px){
        display:inline-block;
    }
}
/*blog-inner-page*/
.fs-32{
    font-size: 32px;
}
.fs-24{
    font-size: 24px;
}
.fs-md-24{
    @media (max-width:992px) {
        font-size: 24px;
    }
}
.color-gray{
    color: #555555;
}
.mx-1{
    margin-left: 3%;
    margin-right: 3%;
}
.mb-2{
    margin-bottom: 16px;
}
.mb-40{
    margin-bottom: 40px;
}
.mb-80{
    margin-bottom: 80px;
}
.mr-2{
    margin-right: 16px;
}
.font-bold{
    font-weight: bold;
}

.jump-page-section{
    @media (max-width:576px) {
        display: none;
    }
}
.blog-page-link{
    padding-right: 8px;
    :hover{
        color:#AA0601;
    }
}
.tag{
    font-size: 24px;
    color:#AA0601;
    font-weight: bold;
    @media (max-width:992px) {
        font-size: 16px;
    }
}
.project-section{
    border-bottom: 1px solid #707070;
    padding-bottom: 16px;
    
    width: 66%;
    @media (max-width:992px) {
        width: 65%;
    }
    @media (max-width:576px) {
        width: 90%;
        .social-icon{
            display: none;
            }
        }
    }

.tag-section{
    width: 30%;
    @media (max-width:576px) {
        display: none;
    }
}
.text-truncate{
    width: 50%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
      
}

