.col-6{
    width: 48%;
}
.blog-tag-list{
    background-color: #650300;
    li{
        padding-top: 13px;
        padding-bottom: 13px;
    }
    a{
        font-size: 20px;
        margin-right: 48px;
        color:white;
        font-weight: bold;
        
    }
    .search-icon{
        color: white;
        font-size: 29px;
        
        
    }
}



.blog {
    width: 90%;
    align-content: center;
    h1{
    font-size: 48px;
    font-weight: bold;
    }
}
@media (max-width:992px) {
    .blog{
    padding:40px 36px;
    }
}
.blog-list{
    margin-bottom: 60px;
}
@media (max-width:768px) {
    .blog {
        padding-left: 0;
        padding-right: 0;
        h1{
            font-size: 24px;
        }
        ul{
            width: 90%;
        }
    }
    .blog-list{
        flex-direction: column;

    }
    .blog-text-list{
        p,a{
            display: none;
        }
    }
}
.blog-text-list{
    flex-direction: column;
}
.blog-text-list h2{  
    font-size: 32px;
    color: #650300;
}
.blog-info {
    h3{
    color:#000000;
    font-size: 20px;
    
}
    h4{
        font-size: 16px;
        
    }
}
@media (max-width:992px) {
    .blog-info {
        h3{       
        font-size: 16px; 
    }
    
}
}
.article{
    color: #555555;
    font-size: 20px;
    
}
@media (max-width:992px) {
    .article{ 
    font-size: 16px;
    }

} 

.more-btn{
    color: #650300;
    font-size: 36px;
    font-weight: 900;
    align-self: flex-end;
    margin-top: auto;
    
}