.contact{
   background-color: #fbf2f2;
   padding: 80px 0;
}
.contact-text{
    max-width: 636px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}
.check-icon{
    width: 24px;
    height: 24px;
}
.check{
    display: flex;

}
.btn2{
    max-width: 416px;
    padding: 16px 0;
    background-color: #AA0601;
    color: white;
    text-align: center;
    
}
.input-style{
    margin-bottom:16px;
    padding: 6px 12px; 
    background-color: transparent;
    display: block;
    width: 100%;
    border: 1px solid #000000;
    
}
.m0-auto{
    margin: 0 auto;
}
.feedback{
    resize: none;
    min-height: 136px;

}
@media(max-width:992px){
    .contact{
        width: 75%;
    }
    
}