.contact{
   background-color: #fbf2f2;
   padding: 80px 0;
}
.contact-text{
    max-width: 636px;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}

.input{
    width:100%;
    padding: 6px 0 6px 12px;
    
}
.check-icon{
    width: 24px;
    height: 24px;
}
.check{
    display: flex;

}
.btn2{
    max-width: 416px;
    padding: 16px 0;
    background-color: #AA0601;
    color: white;
    text-align: center;
    
}
input{
    margin-bottom:16px; 
    background-color: #FBF2F2;
    
}
.m0-auto{
    margin: 0 auto;
}
.feedback{
    min-height: 136px;
    
}
@media(max-width:992px){
    .contact{
        width: 75%;
    }
    
}