.footer{
  padding: 48px 0;
  width: 90%;
}
 a{
  text-decoration: none;
}
.footer-social-icon{
  width: 48px;
  height: 48px;
}

.mr-4{
  margin-right: 32px;
}
.mr-5{
  margin-right: 48px;
}
.mb-4{
  margin-bottom: 32px;
}
.social-list{
  margin-right: 32px;
  
}
.social-item{
  padding-right: 24px;
}
.footer-icon{
  font-size: 36px;
  color:white;
  margin-right: 20px
}
.copyright{
  margin-top: 40px;
}

@media (max-width:992px) {
  .footer{
    padding:24px 16px;
  }
  
}
@media (max-width:786px) {
  .footer-link{
    display: none;
  }
  .social-list{
    margin-right: 8px;
    
  }
  .footer-social-icon{
    width: 24px;
    height: 24px;

  }
  .footer-text{
    font-size: 16px;
  }
  .footer-icon{
    font-size: 20px;
  }
  .social-item{
    padding-right: 8px;
  }
  .col-wrap{
    flex-direction: column;
    flex-wrap: wrap;
  }
  .copyright{
    margin-top: 20px;
  }
  .footer-md-list{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

}
