.frame{
    width: 90%;
    margin: 0 auto;
}
.h2{
    font-size: 48px;
}
.italic{
    font-style: italic;
}
.mb-5{
    margin-bottom: 48px;
}
.classic-frame{
    text-align: center;
    justify-content:space-evenly
}
.classic-frame-items{
    padding-right: 24px;
}
.text-center{
    text-align: center;
}

.frame-img1{
    max-width: 416px;
}
.color-secondary{
    color:#aa0601;
}
.joint-name-img{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/index-bg-md.png?raw=true);

}
.bgc-white{
    background-color: #fff;
}
.px-1{
    padding: 8px 0;
}
@media (max-width:992px) {
    
    
    .frame{
        width: 90%;
    }
    
    
    .joint-name-card{
        width: 90%;
    }

    .classic-frame{
        
        width: 50%; 
        margin: 0 auto;       
        display: flex;
        
        flex-wrap: wrap;
        li{
            margin-bottom: 24px;
        }
        
    }

    .frame-2{
        margin: 0 auto;
        .classic-frame{
            width: 100%;
        }
    }
}
