@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Roboto:ital,wght@0,400;1,900&display=swap");
*,*::before,*::after{
  box-sizing: border-box;
}

body{
  color:#650300;
  line-height: 1.5;
  font-family: 'Bruno Ace SC', 'cursive';
  font-family: 'Roboto', sans-serif;
  font-family: 'Noto Sans TC', sans-serif;
  
  a{
  text-decoration: none;
  :hover {
    opacity: 0.7;
  }
  }
  }

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;

}
.container{
  max-width: 1320px;
  margin:0 auto;
  padding-left: 12px;
  padding-right: 12px;
}

/*字型樣式*/
h1{
  font-size: 64px;
  
}
.fs-64{
  font-size: 64px;
  font-weight: bold;
}
@media (max-width:576px) {
  .fs-64{
    font-size: 24px;
  }
}
h2{
  font-size: 48px;
  
}
.fs-48{
  font-size: 48px;
  font-weight: bold;
  @media (max-width:576px) {
    font-size: 24px;
  }
}
h3{
  font-size: 36px; 
}
.fs-36{
  font-size: 36px;
}
@media (max-width:576px) {
.fs-36{
  font-size: 16px;
}
}
h4{
  font-size: 24px;
  font-weight: bold;
}
h5{
  font-size: 20px;
  font-weight: 900;
}
.color-primary{
  color:#650300
}
.color-secondary{
  color: #AA0601;
}
.color-white{
  color:white;
}
/*排版設定*/
.d-flex{
  display: flex;
}
.jcsb{
  justify-content: space-between;
}
.jcfe{
  justify-content: flex-end;
}
.h-100{
  height: 100%;
}
/*區塊*/
.header{
  padding: 12px;
}
.bg-color-primary{
  background-color: #AA0601;
}
.bg-color-secondary{
  background-color: #FBF2F2;

}
.content-px{
  padding: 80px 0;
  text-align: center;
}
@media (max-width:768px) {
  .content-px{
    padding: 40px 0;
  }
}
.logo-1{
  width: 80px;
  
}
.navbar-link{
  padding:8px 32px;
  font-size: 20px;
}
.navbar-link:hover {
  opacity: 0.7;
}


@media(max-width:768px){
  
  .header{
    width: 100%;
    height: auto;
    padding: 0;
    .logo-1{
      margin:16px auto 16px 16px;
    }
    ul{
      width: 100%;
      flex-wrap: wrap;
      
      li{
        width: 50%;
        border: 1px solid #FFFFFF;
        text-align: center;
        
      }

    }
    .navbar-link{
      display: block;
      width: 100%;
    }
  }
  .flex-column{
      flex-direction: column;
  }
 
  .navbar-link{
    height: 100%;
    padding:12px 0;
    font-size: 16px;
    
  }

}
@media (max-width:414px) {
  h2{
    font-size: 24px;
  }
}