.qa{
    max-width: 856px; 
}
@media (max-width:992px) {
    .qa{
        padding-left: 3%;
        padding-right: 3%;
         }
}

.page-title{
    border-left: 8px solid #9F1213;
    padding-left: 16px;
}
@media (max-width:786px)  {
    .page-title,.qa-title-2{
        font-size: 24px;
        font-weight: normal;
    }
}
.text-start{
    text-align: left;
}
.mb-4{
    margin-bottom: 32px;
}
.region-select{
    color:#495057;
    border: 1px solid #CED4DA;
    width: 304px;
    min-height: 38px;
    padding: 6px 238px 6px 12px;
}
