.jcc{
    justify-content: center;
}
.series-name{
    border: 1px solid #DCDCDC;
    padding: 24px 0;
    font-family: 'Roboto', sans-serif;
    width: 33%;
    text-align: center;
    
}

.series-name:hover{
    border-bottom: #AA0601 8px solid;
}
.frame-items{   
    width: 23%;
    text-align: center;
    margin-bottom: 80px;   
}
@media  (max-width:992px) {
    .frame-items{   
        width: 43%;
        margin-right: 0px;
        margin-bottom: 40px;   
    }
}
@media (max-width:768px) {
    .frame-items{   
        width: 90%;
    }
}
@media (max-width:992px) {
    

.product{
    margin: 0 auto;
    padding-left: 36px;
    padding-right: 36px;
}
.product-list{
    justify-content: space-between;
}
}
.product-list{
    flex-wrap: wrap;
    justify-content: space-around;
}

.frame-link{
    font-size: 32px;
    padding: 24px ;
    font-weight: 700;
}
@media (max-width:992px) {
    .frame-link{
        font-size: 24px;    
    }
}
.img-section{
    height: 296px;
}
.img-section-1{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-1.png?raw=true);
}
.img-section-2{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week3-4/product-header-2.png?raw=true);
}
.fz-42{
    font-size: 42px;
}
.mr-1{
    margin-right: 8px;
}
.mb-4{
    margin-bottom: 32px;
}
.color-1{
    width: 24px;
    height: 24px;
    background-color: #5F3E2D;
    border-radius: 4px;
}
.color-2{
    width: 24px;
    height: 24px;
    background-color: #B75929;
    border-radius: 4px;
}
.price{
    color: #AA0601;
    font-weight: normal;
}
      