.shop{
    width: 90%;
}

.d-none{
    display: none;
}
.region-menu{
    padding-right: 16px;
}


.region-menu {

    
    @media (max-width:992px){
        .fs-24{
        font-weight: normal;
    }
    }
    @media (max-width:786px) {
        .region-select{
            width: 70%;
        }
        .fs-24{
        font-weight: normal;
        font-size: 16px;
        padding-right: 0px;
        }

}
}


.shop-list{
    flex-wrap: wrap;
    margin: 0 auto;
}
.shop-card{
    width: 30%;
    flex-direction: column;
    border: #00000020 1px solid;
    margin-right: 24px;
    margin-bottom: 48px;
        @media (max-width:992px) { 
        width: 45%;
        border: none;
        }
    }
    


.shop-branch-card{
  
    @media (max-width:992px){
        flex-direction: row;
        justify-content: space-between;

        .shop-img{
            width: 48%;
        }
        .shop-text{
            width: 48%;
            border: 1px solid #00000020;
        }
    }
    @media (max-width:576px) {
        flex-direction: column;
        width: 100%;
        .shop-img{
            width: 100%;
        }
        .shop-text{
            width: 100%;}

    }

}

.shop-branch-list{
    flex-direction: row;
    @media (max-width:992px) {
        flex-direction: column;
    }
}


@media (max-width:767px) {
    .shop-card{   
    width: 100%;
    
    }
}

.shop-name{
    border-bottom: #00000020 1px solid;
    padding:8px 24px;
    font-weight: normal;

}
.contact-info{
    padding: 16px 24px;
}
.info-btn{
    background-color: black;
    color:white;
    padding: 16px;
    font-size: 20px;
    
}
.pr-3{
    padding-right: 24px;
}


.shop-map{
    width: 55%;
    height: auto;
    @media (max-width:992px) {
        width: 100%;
        min-height: 414px;
    }
    @media (max-width:576px) {
        min-height: 280px;
    }
}
