
.slogan{
    padding: 80px 0;
    text-align: center;
}
.logo-icon{
    font-size: 84px;
    font-weight: 700;
}
.service-card{
    margin-right: 24px;
    width: 306px;
    text-align: center;

}
.text-start{
    text-align: left;
}
.color-black{
    color:black
}

.mb-1{
    margin-bottom: 8px;
}
.mb-2{
    margin-bottom: 16px;
}
.mb-3{
    margin-bottom: 24px;
}
@media(max-width:992px){
    .slogan{
        ul{
            flex-wrap: wrap;
        }
        li{
            width: 40%;
            margin-bottom: 24px;
        }


    }
}
@media(max-width:576px){
 
    .slogan{
        padding: 40px 0;
       
        li{
            width: 90%;
        }
    
        h2{
        font-size: 24px;
        }
    }

}


